.topbar {
    position: fixed;
    inset: 0 0 auto 0;
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #008000;
    background-color: var(--bg-surface, #FFFFFF); 
    color: white;
    z-index: 5000;
}

.app-subtitle {
    font-size: 16px; 
}

/* global title */
.topbar-center .app-subtitle {
    font-size: 18px;         
    font-weight: 600;         
    letter-spacing: 0.5px;    
}

/* date */
.topbar-date {
    font-size: 16px;         
    font-weight: 500;
}


#server-status-text {
    font-size: 16px;      
    font-weight: 500;
    white-space: nowrap; 
}

.status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

/* Green and red dots */
.status-dot {
    width: 12px;            
    height: 12px;            
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 8px;
    background: currentColor;
    margin-top: auto;
    margin-bottom: auto;
}

.status.success .status-dot {
    background: #22C55E;
    box-shadow: 0 0 1px #22C55E;
}

.status.error .status-dot {
    background: #FF0000;
    box-shadow: 0 0 1px #FF0000;
}


.topbar-status {
    margin-right: 150px; 
}
